[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
openai = "*"
langchain = "*"
pandas = "*"
numpy = "*"
pyarrow = "*"
pypdf = "*"
chromadb = "*"
pypdf2 = "*"
langchain-community = "*"
tiktoken = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
